body {
    text-align: left;
    color:rgb(78, 9, 9);
    background-color:rgb(255, 255, 255);
    margin: 20px 20px 20px 20px;
    position: relative;
}
.txtpro{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-left: 40px;
    padding-top: 40px;
}
.txtfile{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    padding-left: 40px;
}

.image {
    background-color:rgb(78, 9, 9);
    height: 150px;
    width: 102.5px;
    padding: 10px;
    align-content: center;
    position: relative;
    left: 260px;
    bottom: 190px;
}

.atas {
    position: relative;
}
.bawah{
    position: relative;
    left: 10px;
    bottom: 160px;
}
